<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>com.app.server.ServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnvSetupServlet</servlet-name>
		<servlet-class>com.app.server.EnvSetupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnvSetupServlet</servlet-name>
		<url-pattern>/env</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SomeApp.html</welcome-file>
	</welcome-file-list>

</web-app>
